:root, body {
    --md-text-font: "Anuphan";
    --md-code-font: "JetBrains Mono";
    --md-typeset-color: var(--md-default-fg-color);
    --md-admonition-fg-color: var(--md-default-fg-color);
}

[data-md-color-scheme="gb-dark"] {
    --md-default-bg-color: #110f0f;
    --md-default-bg-color--transparent: #110f0f00;
    --md-default-bg-color--light: #1e1e1e;
    --md-default-bg-color--lighter: #404040;
    --md-default-fg-color: #d5d5d5;
    --md-default-fg-color--light: #cbcbcb;
    --md-default-fg-color--lighter: #696969; /* blockquote */
    --md-default-fg-color--lightest: #1e1e1e; /* search-box */
    --md-code-bg-color: #1e1e1e;
    --md-code-fg-color: #d5d5d5;
    --md-code-hl-comment-color: var(--md-default-bg-color--lighter);
    --md-primary-fg-color: #ca1313;
    --md-primary-fg-color--dark: #b01d1d;
    --md-accent-fg-color: #e32c2c;
    --md-accent-fg-color--transparent: #e32c2c1a;
    --md-typeset-a-color: #f06868;
    --md-admonition-bg-color: #171717;
    --md-typeset-mark-color: #ffffff2e;
    --md-typeset-kbd-color: var(--md-code-bg-color);
    --md-typeset-kbd-border-color: var(--md-default-bg-color--lighter);
    --md-typeset-kbd-accent-color: var(--md-default-bg-color--lighter);
    --md-typeset-table-color: var(--md-default-bg-color--light);
    --md-code-hl-name-color: #d89b39;
    --md-code-hl-variable-color: #d96a59;
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --gb-status-color-1: #9dff7a;
    --gb-status-color-2: #ffc57a;
    --gb-status-color-3: #7ab4ff;
    --gb-status-color-4: #ff937a;
    --gb-status-color-5: #808080;
    --gb-status-color-6: #9d7aff;
}

[data-md-color-scheme="gb-light"] {
    --md-default-bg-color: #f9f9f9;
    --md-default-bg-color--transparent: #f9f9f900;
    --md-default-bg-color--light: #ececec;
    --md-default-bg-color--lighter: #b0b0b0;
    --md-default-fg-color: #202020;
    --md-default-fg-color--light: #383838;
    --md-default-fg-color--lighter: #cbcbcb; /* blockquote */
    --md-default-fg-color--lightest: #cfcfcf; /* search-box */
    --md-code-bg-color: #ebebeb;
    --md-code-fg-color: #202020;
    --md-code-hl-comment-color: var(--md-default-bg-color--lighter);
    --md-primary-fg-color: #ca1313;
    --md-primary-fg-color--dark: #b01d1d;
    --md-accent-fg-color: #e32c2c;
    --md-accent-fg-color--transparent: #e32c2c1a;
    --md-typeset-a-color: #c32d2d;
    --md-admonition-bg-color: #f9f9f9;
    --md-typeset-mark-color: #0000002e;
    --md-typeset-kbd-color: var(--md-code-bg-color);
    --md-typeset-kbd-border-color: var(--md-default-bg-color--lighter);
    --md-typeset-kbd-accent-color: var(--md-default-bg-color--lighter);
    --md-typeset-table-color: var(--md-default-bg-color--light);
    --md-code-hl-name-color: #c49446;
    --md-code-hl-variable-color: #87382b;
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --gb-status-color-1: #387a20;
    --gb-status-color-2: #b0762b;
    --gb-status-color-3: #21497e;
    --gb-status-color-4: #ac4129;
    --gb-status-color-5: #757575;
    --gb-status-color-6: #7644ff;
}

[data-md-color-scheme="gb-light"] img.gb-logo {
    filter: hue-rotate(180deg) invert(1);
}

@font-face {
    font-family: "Anuphan";
    font-display: fallback;
    src: local("Anuphan"), url('./fonts/Anuphan.woff2') format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-display: fallback;
    src: local("JetBrainsMono"), local("JetBrains Mono"), url('./fonts/JetBrainsMono.woff2') format("woff2");
}

img {
    border-radius: 15px;
}

/*
    Extend overall content area.
*/
.md-grid {
    max-width: 1440px;
}  

/*
    Extends blog post to the edge of the screen.
*/
.md-content.md-content--post article {
    flex-grow: 1;
}

/*
    Align emojis & icons with the text.
*/
.md-typeset .emojione, 
.md-typeset .gemoji, 
.md-typeset .twemoji {
    vertical-align: text-bottom;
}


.md-header__button.md-logo img {
    border-radius: 0px;
    /* make the logo fully white */
    filter: grayscale(100%) brightness(300%);
}

/*
    Add margin to end of the content.
*/
.md-content__inner.md-typeset {
    margin-bottom: 5rem;
}

/*
    Make footnote color more readable.
*/
.md-typeset .footnote {
    color: var(--md-default-fg-color--lighter);
}

/*
    Change checked tasklist color to the primary color.
*/
.md-typeset [type="checkbox"]:checked + .task-list-indicator::before {
    background-color: var(--md-accent-fg-color);
}

/*
    Add more margin before each task list item text.
*/
.task-list-control > .task-list-indicator {
    margin-left: 5px;
}

/*
    Don't use a tick icon for unchecked task list items.
*/
.md-typeset [type="checkbox"]:not(:checked) + .task-list-indicator::before {
    -webkit-mask-image: none;
    mask-image: none;
    border-radius: 50px;
}

/*
    Animation for git repository stats.
*/
.md-source__repository .md-source__facts {
    animation: facts .25s ease-in;
}

/*
    Don't show any icon for custom repository stats.
*/
.md-source__repository .md-source__fact--other::before {
    display: none;
}

/*  
    ------------------
    TABS
    ------------------
*/

/*
    Make markdown tab text to match with the size of the content text.
*/
.md-typeset .tabbed-labels > label {
    font-size: .75rem !important;
}

/*
    Add a indicator below the selected item in navigation tabs.
*/
.md-tabs .md-tabs__item--active {
    font-weight: bold;
}

/*  
    ------------------
    TABLES
    ------------------
*/

.md-typeset table {
    font-size: .70rem !important;
    border-radius: 15px !important;
    /*
    background-color: var(--md-admonition-bg-color) !important;
    border: none !important;
    */
    box-shadow: var(--md-shadow-z2);
}

/*  
    ------------------
    CODE BLOCKS
    ------------------
*/

.md-typeset table.highlighttable tr td.linenos {
    border-radius: 15px 0px 0px 15px;
    font-size: .65rem !important;
}

.md-typeset table.highlighttable tr td.code div > pre > code {
    border-radius: 0px 15px 15px 0px;
}

.md-typeset div > pre > code {
    border-radius: 15px;
    font-size: .65rem !important;
}

.md-typeset table.highlighttable tr td.linenos > .linenodiv pre {
    color: var(--md-default-bg-color--lighter) !important;
}

.md-tooltip {
    background-color: var(--md-admonition-bg-color);
    border-radius: 15px;
}

.md-annotation__index::after, .md-annotation__index::before {
    height: 2.4ch;
    width: 2.4ch;
}

.md-tooltip__inner {
    font-size: .70rem !important;
}

blockquote {
    color: var(--md-default-fg-color--lighter) !important;
    border-left-color: var(--md-default-fg-color--lightest) !important;
}

/*  
    ------------------
    ADMONITON
    ------------------
*/

.md-typeset .admonition, 
.md-typeset details {
    border-width: 0 !important;
    border-radius: 15px !important;
    padding: 0 1rem !important;
    font-size: .75rem !important;
}

.md-typeset .admonition .admonition-title, 
.md-typeset details summary {
    padding-bottom: .6rem !important;
    padding-top: .6rem !important;
    border-radius: 15px 15px 0px 0px !important;
    margin: 0 -1rem !important;
    padding-left: 2.7rem !important;
    transition: border-radius .2s;
}

.md-typeset .admonition .admonition-title::before,
.md-typeset details summary::before {
    left: .9rem !important;
}

.md-typeset details summary::after {
    right: .9rem !important;
}

.md-typeset .admonition .admonition-title::before,
.md-typeset details summary::before,
.md-typeset details summary::after {
    top: .85em !important;
    height: 25px !important;
    width: 23px !important;
}

.md-typeset details:not([open]) summary {
    border-radius: 15px 15px 15px 15px !important;
}

.md-typeset .admonition p:nth-of-type(2), 
.md-typeset details p:first-of-type {
    margin-top: .4rem !important;
}

/*  
    ------------------
    GADGETBRIDGE-SPECIFIC
    ------------------
*/



.gb-label-container {
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
}

.gb-label {
    color: var(--md-default-fg-color);
    background: var(--md-code-bg-color);
    padding: 8px 20px;
    border-radius: 10px;
    display: inline-block;
    user-select: none;
}

.gb-label > .twemoji {
    margin-right: 8px !important;
    height: 1.3em;
}

.gb-label.gb-label-blank > .twemoji {
    margin-right: 0px !important;
}

.gb-label.gb-label-1 { color: var(--gb-status-color-1); }
.gb-label.gb-label-2 { color: var(--gb-status-color-2); }
.gb-label.gb-label-3 { color: var(--gb-status-color-3); }
.gb-label.gb-label-4 { color: var(--gb-status-color-4); }
.gb-label.gb-label-5 { color: var(--gb-status-color-5); }
.gb-label.gb-label-6 { color: var(--gb-status-color-6); }

.gb-button {
    padding: 14px 22px;
    background-color: var(--md-typeset-a-color);
    color: var(--md-default-bg-color) !important;
    transition: background-color .2s !important;
    font-weight: bolder;
    border-radius: 50px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: none;
    cursor: pointer;
}

.gb-button.gb-button-icon {
    padding: 12px 15px;
}

.gb-button.gb-button-secondary {
    background-color: var(--md-default-bg-color--light);
    color: var(--md-typeset-a-color) !important;
}

.gb-button span.twemoji {
    font-size: larger;
}

.gb-button:not(.gb-button-icon) span.twemoji:first-child {
    margin-right: 8px;
}

.gb-button:hover {
    background-color: var(--md-accent-fg-color);
    color: var(--md-default-bg-color) !important;
}

.gb-button:disabled {
    background-color: var(--md-default-bg-color--light);
    color: var(--md-default-bg-color--lighter) !important;
    box-shadow: none;
    cursor: not-allowed;
}

/*
    Color preview
*/

.gb-color {
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/*
    Image previews for the gadget screen.
*/

.gb-figure-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.gb-figure {
    font-size: .65rem;
    text-align: center;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.gb-figure img {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*
    Images & step-by-step instructions
*/

.gb-logo {
    height: 120px;
    display: block;
    margin: auto;
}

.gb-step {
    display: flex;
}

.gb-step > *:first-child {
    margin-right: 30px;
    flex-shrink: 0;
}

.gb-step > p:first-child {
    text-align: center;
}

.gb-step img {
    object-fit: contain;
}

.gb-step > div {
    min-width: 0px;
}

.gb-section {
    display: flex;
}

.gb-section .twemoji {
    height: 1.5em;
    width: 1.5em;
    padding: 25px;
    box-sizing: content-box;
    background-color: var(--md-default-bg-color--light);
    border-radius: 50px;
    margin-right: 25px;
}

.gb-section .twemoji svg {
    margin: auto;
    width: 100%;
}

.gb-section > div {
    margin: auto;
}

/*
    CSS-only countdown to show supported 
    gadget count in a cool-looking way.
*/

span.gb-gadgets {
    align-items: center; 
    justify-content: center; 
    display: flex; 
    flex-wrap: nowrap;
}

span.gb-gadgets > span.gb-gadget-count {
    font-size: 3em; 
    vertical-align: middle; 
    margin-right: 20px;
}

span.gb-gadgets > span.gb-gadget-count-text {
    text-align: center;
}

span.gb-digit-display > span {
    display: block;
    height: 1.5em;
    animation-duration: .8s;
    animation-delay: .5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

span.gb-digit-display {
    height: 1.5em;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

@media screen and (max-width: 60em) {
    span.gb-gadgets > span.gb-gadget-count {
        margin-right: 0px;
    }

    span.gb-gadgets {
        flex-direction: column;
    }

    .gb-step {
        flex-direction: column-reverse;
    }

    .gb-step > div {
        min-width: inherit;
    }
}

@keyframes digit-0 { to { transform: translateY(calc(1.5em * -0)); } }
@keyframes digit-1 { to { transform: translateY(calc(1.5em * -1)); } }
@keyframes digit-2 { to { transform: translateY(calc(1.5em * -2)); } }
@keyframes digit-3 { to { transform: translateY(calc(1.5em * -3)); } }
@keyframes digit-4 { to { transform: translateY(calc(1.5em * -4)); } }
@keyframes digit-5 { to { transform: translateY(calc(1.5em * -5)); } }
@keyframes digit-6 { to { transform: translateY(calc(1.5em * -6)); } }
@keyframes digit-7 { to { transform: translateY(calc(1.5em * -7)); } }
@keyframes digit-8 { to { transform: translateY(calc(1.5em * -8)); } }
@keyframes digit-9 { to { transform: translateY(calc(1.5em * -9)); } }
span.gb-digit-display[data-digit="0"] > span { animation-name: digit-0; }
span.gb-digit-display[data-digit="1"] > span { animation-name: digit-1; }
span.gb-digit-display[data-digit="2"] > span { animation-name: digit-2; }
span.gb-digit-display[data-digit="3"] > span { animation-name: digit-3; }
span.gb-digit-display[data-digit="4"] > span { animation-name: digit-4; }
span.gb-digit-display[data-digit="5"] > span { animation-name: digit-5; }
span.gb-digit-display[data-digit="6"] > span { animation-name: digit-6; }
span.gb-digit-display[data-digit="7"] > span { animation-name: digit-7; }
span.gb-digit-display[data-digit="8"] > span { animation-name: digit-8; }
span.gb-digit-display[data-digit="9"] > span { animation-name: digit-9; }